#The Zen Of Python

In [2]:
import numpy

# Variables

A name that is used to denote something or a value is called a variable. In python, variables can be declared and values can be assigned to it as follows,

In [10]:
x = 2
y = 5
xy = 'Hey'

In [17]:
xy.replace('y','r')

'Her'

In [13]:
print(x+y, xy)

(7, 'Hey')

Multiple variables can be assigned with the same value.

In [18]:
x = y = 1

In [19]:
print(x,y)

(1, 1)

# Operators

##Arithmetic Operators

| Symbol | Task Performed |
|----|---|
| +  | Addition |
| -  | Subtraction |
| /  | division |
| %  | mod |
| *  | multiplication |
| //  | floor division |
| **  | to the power of |

In [20]:
1+2

3

In [21]:
2-1

1

In [22]:
1*2

2

In [34]:
1/2

0

0? This is because both the numerator and denominator are integers but the result is a float value hence an integer value is returned. By changing either the numerator or the denominator to float, correct answer can be obtained.

In [35]:
1/2.0

0.5

In [25]:
15%10

5

Floor division is nothing but converting the result so obtained to the nearest integer.

In [26]:
2.8//2.0

1.0

##Relational Operators

| Symbol | Task Performed |
|----|---|
| == | True, if it is equal |
| !=  | True, if not equal to |
| < | less than |
| > | greater than |
| <=  | less than or equal to |
| >=  | greater than or equal to |

In [36]:
z = 1

In [37]:
z == 1

True

In [38]:
z > 1

False

#Built-in Functions

##Simplifying Arithmetic Operations

**round( )** function rounds the input value to a specified number of places or to the nearest integer.

In [67]:
print round(5.6231) 
print round(4.55892, 2)

6.0
4.56

**complex( )** is used to define a complex number and **abs( )** outputs the absolute value of the same.

In [68]:
c =complex('5+2j')
print abs(c)

5.38516480713

**divmod(x,y)** outputs the quotient and the remainder in a tuple(you will be learning about it in the further chapters) in the format (quotient, remainder).

In [75]:
divmod(10,2)

(5, 0)

**isinstance( )** returns True, if the first argument is an instance of that class. Multiple classes can also be checked at once.

In [77]:
print isinstance(1, int)
print isinstance(1.0,int)
print isinstance(1.0,(int,float))

True
False
True

**cmp(x,y)**

|x ? y|Output|
|---|---|
| x < y | -1 |
| x == y | 0 |
| x > y | 1 |

In [78]:
print cmp(1,5)
print cmp(2,1)
print cmp(2,2)

-1
1
0

**pow(x,y,z)** can be used to find the power $x^y$ also the mod of the resulting value with the third specified number can be found i.e. : ($x^y$ % z).

In [72]:
print pow(3,3)
print pow(3,3,5)

27
2

**range( )** function outputs the integers of the specified range. It can also be used to generate a series by specifying the difference between the two numbers within a particular range. The elements are returned in a list (will be discussing in detail later.)

In [73]:
print range(3)
print range(2,9)
print range(2,27,8)

[0, 1, 2]
[2, 3, 4, 5, 6, 7, 8]
[2, 10, 18, 26]

##Accepting User Inputs

**raw_input( )** accepts input and stores it as a string. Hence, if the user inputs a integer, the code should convert the string to an integer and then proceed.

In [86]:
abc = raw_input("Type something here and it will be stored in variable abc \t")

Type something here and it will be stored in variable abc 	datascience

In [88]:
abc

'datascience'

In [89]:
type(abc)

str

**input( )**, this is used only for accepting only integer inputs.

In [90]:
abc1 =  input("Only integer can be stored in variable abc \t")

Only integer can be stored in variable abc 	5

In [91]:
type(abc1)

int

Note that **type( )** returns the format or the type of a variable or a number

Conversion from hexadecimal to decimal is done by adding prefix **0x** to the hexadecimal value or vice versa by using built in **hex( )**, Octal to decimal by adding prefix **0** to the octal value or vice versa by using built in function **oct( )**.

##Bitwise Operators

| Symbol | Task Performed |
|----|---|
| &  | Logical And |
| l  | Logical OR |
| ^  | XOR |
| ~  | Negate |
| >>  | Right shift |
| <<  | Left shift |

In [106]:
a = 2 #10
b = 3 #11

In [107]:
bin(2),bin(3)

('0b10', '0b11')

In [110]:
print a ^ b
print bin(a^b)

1
0b1

In [57]:
5 >> 1

2

0000 0101 -> 5 

Shifting the digits by 1 to the right and zero padding

0000 0010 -> 2

In [58]:
5 << 1

10

0000 0101 -> 5 

Shifting the digits by 1 to the left and zero padding

0000 1010 -> 10

Python comes loaded with pre-built functions